@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poiret+One&display=swap');

$backgroundColour: rgb(70, 83, 98);
$accentColour: rgb(237, 37, 78);
$accentTwo: rgb(249, 220, 92);
$accentThree: rgb(79, 77, 179);
$boxColour: rgb(240, 240, 240);
$quoteBox: rgb(236, 206, 231);
$specialFontColor: rgb(1, 25, 54);

$headingFont:'Poiret One', cursive;
$font: 'Josefin Sans', sans-serif;